body {
  background-color: #000;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.titulo {
  color: white;
  font-family: 'Playfair Display', serif;
}

.section1 {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  gap: 100px;
  font-family: 'Open Sans', sans-serif;
}

.foto {
  border-radius: 10px;
}

.texto1 p {
  color: white;
  word-break: break-word;
  max-width: 300px;
}

/*animaçao titulo*/

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 2.5s steps(20, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #A276F1;
  }
}